*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
background-color: #000000;
height: 12.5rem;
padding-left: 6rem;

}

.perfil{
    position: absolute;
    right: 8rem;
    top: 1rem;
    width: auto;
    height: 10rem;

}
section{
    background-color: #000000;
    padding: 2rem;
    justify-content: space-between;
}
h1{
    font-family: 'Monteserrat';
    font-weight: 800;
    font-size: 3rem;
    color: #D86D0B;
}
h3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.5rem;
    color: #D86D0B;
}
h2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.5rem;
    color: #000000;
    padding-left: 25rem;
}
p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.5rem;
    color: #D86D0B;
}
.Alguns__trabalhos{
    background-color: #D86D0B;
}
figure{
    background-color: #020202;
    display: flex;
    justify-content: space-evenly;
}
